* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
  }
  /* common classes */
  .gamers {
    font-size: x-large;
  }
  /* nav bar section */
  .image {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
  }
  .nav-section {
    display: flex;
    justify-content: space-around;
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  }
  .gamer {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }
  .about-ul {
    display: flex;
    list-style: none;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
  .g {
    background: linear-gradient(to right, rgb(253, 0, 0), red, blue, red, red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .icon {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
    padding: 10px 20px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }
  .youtube,
  .tiktok {
    width: 33.916px;
    height: 24px;
  }
  .youtube {
    color: red;
  }
  /************ header **************/
  .header {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .header .header-text {
    width: 40%;
  }
  .header-image {
    width: 40%;
  }
  .header-text h2 {
    color: #0b0223;
  
    font-family: "Work Sans", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
  }
  .header img {
    width: 100%;
  }
  .header-text h3 {
    font-family: Work Sans;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    background: linear-gradient(to right, red,yellow, blue,yellow, red, red,red );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .header-text p {
    color: #534c64;
    justify-content: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-top: 20px;
  }
  .header-text > p > i{
    margin-right: 10px;
    color: rgb(253, 81, 110);
  }
  .btn {
    margin-top: 30px;
  }
  .btn .btn-1{
    background-color:  rgb(255, 0, 179);
    border: none;
    font-size: 28px;
    padding: 8px 30px;
    border-radius: 50px;
    color: white;
    margin-right: 25px;
  }
  .btn .btn-2{
    background-color:  rgb(87, 200, 244);
    border: none;
    font-size: 28px;
    padding: 8px 30px;
    border-radius: 50px;
    color: white;
    margin-right: 25px;
  }